/* Write your CSS here */
button {
  background-color: #f8fafc;
  border-radius: 9px;
  padding: 10px;
  font-family: 'Roboto';
  width: 100px;
  color: #303150;
  font-weight: 600;
}
h1 {
  color: #f8fafc;
  font-family: 'Roboto';
}
